    <label for="">Nombre</label>
    <input type="text" name="nombre" id="nombre" placeholder="Nombre" [(ngModel)]="empleadoNuevo.nombre"><br>
    <label for="">Apellido</label>
    <input type="text" name="apellido" id="" placeholder="Apellido" [(ngModel)]="empleadoNuevo.apellido"><br>
    <label for="">curp</label>
    <input type="text" name="curp" id="" placeholder="curp" [(ngModel)]="empleadoNuevo.curp"><br>
    <label for="">rfc</label>
    <input type="text" name="rfc" id="" placeholder="rfc" [(ngModel)]="empleadoNuevo.rfc"><br>
    <label for="">edad</label>
    <input type="number" name="edad" id="" placeholder="edad" [(ngModel)]="empleadoNuevo.edad"><br>
    <label for="">telefono</label>
    <input type="text" name="telefono" id="" placeholder="telefono" [(ngModel)]="empleadoNuevo.telefono"><br>
    <label for="">correo</label>
    <input type="text" name="correo" id="" placeholder="correo" [(ngModel)]="empleadoNuevo.correo"><br>
    <label for="">departamento</label>
    <select *ngIf="!editar" name="" id="">
        <option *ngFor="let departamento of departamento_lista, index as i" [selected]="i === 0" [value]="departamento">{{departamento.nombre}}</option>
    </select>
    <select *ngIf="editar" name="" id="">
        <option *ngFor="let departamento of departamento_lista" [selected]="empleadoNuevo.idDepartamento === departamento.id" [value]="departamento">{{departamento.nombre}}</option>
    </select>
    <br>
    <button (click)="changeModel()">Enviar</button>